#container1 {
    background-color: yellow;
    padding: 25px;
    width: 1200px;
    height: 800px;
    position: absolute;

    table{
        position: relative;
        float: right;
        font-size: 26px;       
    }
}